@charset "ISO-8859-1";

.mynavbar {
	position: fixed;
	left: -100px;
	transition: 1s;
	z-index: 6;
}

.mynavbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.mynavbar-li {
	position: relative;
	transition: 0.5s;
	width: 110px;
	background-color: #28384B;
	filter: brightness(0.5);
}

.mynavbar-li a{
	position: relative;
	display: block;
	color: #40C0F2;
	text-decoration: none;
	padding: 28px 16px;
}

.mynavbar-li a span {
	position: absolute;
	top: 0px;
	left: 110px;
	width: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-origin: left;
	transition: 1s;
	z-index: 10;
}

.mynavbar-li::after {
	content: '';
	position: absolute;
	top: 0;
	left: 110px;
	width: 40px;
	height: 100%;
	transform-origin: left;
	background: #232A32;
	transition: 1s;
	filter: brightness(1);
}

.mynavbar-li::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	height: 15px;
	transform-origin: right bottom;
	filter: brightness(0.85);
	background: none;
	transition: top 0.8s,
				background 1s,
				transform 0.2s 0.3s;
}

.mynavbar:hover {
	transform: translateX(100px) skewY(10deg);
}

.mynavbar:hover ~ .content {
	transform: translateX(100px);
}

.mynavbar:hover ul li::after,
.mynavbar:hover ul li span
{
	transform: skewY(-20deg);
	
}

.mynavbar:hover ul li::before{
	transform: skewX(-70deg);
	background: #232A32;
	top: -15px;
}

.mynavbar-li:hover {
	transform: translateX(20px);
	filter: brightness(1.0);
}

