description = "My navigation bar"
==
<!-- Nav -->
<nav class="">
    <div class="mynavbar">
        <ul class="mynavbar-ul">
            <li class="mynavbar-li {% if this.page.id == 'home' %}active{% endif %}" style="z-index: 5;"><a href="{{ 'home'|page }}">Basic concepts</a></li>
            <li class="mynavbar-li {% if this.page.id == 'ajax' %}active{% endif %}" style="z-index: 4;"><a href="{{ 'ajax'|page }}">AJAX framework</a></li>
            <li class="mynavbar-li {% if this.page.id == 'plugins' %}active{% endif %}" style="z-index: 3;"><a href="{{ 'plugins'|page }}">Plugin components</a></li>
            <li class="mynavbar-li"><a href="{{ backendUrl }}" target="backend" style="z-index: 2;">Sign in to the Backend</a></li>
        </ul>
    </div>
</nav>